
body {
    background-color: rgba(111, 240, 60, 0.36);
    
}

.logoDiv {
    padding: 10px;
    margin: auto;
    /*background-color: #31A9B8;*/
    
}

#logoText {
    font-family: "Amatic SC";
    font-size: 70px;
    color: rgba(0, 162, 255, 0.96);
    margin-bottom: 0px;
}

hr {
    display: block;
    height: 3px;
    background-color: rgba(0, 162, 255, 0.96);
    
}




.slider {
    width: 60%;
    height: 30px;
    margin-top: 20px;
    margin-left: 20%;
    /* changed cursor to a small hand aka "pointer" */
    cursor: pointer;
    

}
.slider:hover {
    opacity: .6;
}



h1 {
    text-align: center;
    font-size: xx-large;

}


h4 {
    margin: 10px 0 2px 0;
}

.dropdown, .input, .segment {
    margin: 0 0 10px 0;
}

#submit {
    margin-top: 10px;
    background-color: rgba(0, 162, 255, 0.96);

}

