
body {
    background-color: rgba(111, 240, 60, 0.36);
    color: rgb(99, 98, 98);
    
}

h1 {
    text-align: center;
    font-size: xx-large;

}


h4 {
    margin: 10px 0 2px 0;
}


/* div devoted to logo section */
.logoDiv {
    padding: 10px;
    margin: auto;  
} 
/*Date Night logo that styling */
#logoText {
    font-family: "Amatic SC";
    font-size: 70px;
    color: rgba(0, 162, 255, 0.96);
    margin-bottom: 0px;
}

hr {
    display: block;
    height: 3px;
    background-color: rgba(0, 162, 255, 0.96);
    
}

.dropdown, .input, .segment {
    margin: 0 0 10px 0;
}

/* css direct slider updates--webkit has own influence as well */
.slider {
    width: 60%;
    height: 30px;
    margin-top: 20px;
    margin-left: 20%;
    /* changed cursor to a small hand aka "pointer" */
    cursor: pointer;
    background-color:rgba(111, 240, 60, 0.06);
}
.slider:hover {
    opacity: .8;
} 

/* webkit-browser slider styling */
input[type=range]{
    -webkit-appearance: none;
}
/*slider track styling */
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgba(0, 162, 255, 0.96);
    border: none;
    border-radius: 3px;
}
/* slider thumbnail, gets away from default styling */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
} 

/* class that only affects the slider number (not words) */
.flavorNumberDisplay {
    font-size: 30px;
    color: rgb(255, 0, 0);
}

/*submit button on page */
#submit {
    margin-top: 10px;
    background-color: rgba(0, 162, 255, 0.96);

}



/*====================Media Query=========================== */

@media screen and (max-width: 455px){
    .slider {
        max-width: 40%;
    }
}